img {
	max-width: 100%;
}
h1 {
	font-size: 60px;
}

h2 {
	font-size: 36px;
	line-height: 1.2;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 14px;
	color: #636363;
	line-height: 1.6;
}
/* .carousel{
    opacity: .7 !important;
} */
ul,ol{
    padding:0;
    margin:0;
}
.header-section {
	padding: 20px 0;
    overflow: hidden;
}
.school-logo {
	display: inline-block;
	margin-right: 50px;
    padding-top: 10px;
	color:#111;
	font-size:20px;
	font-weight:600;
	font-family:Cursive;
	text-decoration: none;	
}
.school-logo:hover{
	text-decoration: none;
	color: #111;
}
.school-logo i{
	font-size: 40px;
	padding-top: -3px;
}
.header-info{
    float: right;

   
}
.header-info .item {
	display: inline-block;
	margin-left: 35px;
}
.header-info .item i {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
	text-align: center;
	color: #111;
	font-size: 12px;
	padding-top: 6px;
	margin-right: 20px;
	margin-top: 8px;
	margin-bottom: 10px;
}
.header-info .item i:after {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border: 2px solid #020031;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	border-radius: 2px;
}
.header-info .item p {
	display: inline-block;
	position: relative;
	top: 10px;
	margin-bottom: 0;
	font-weight: 600;
}
.header-info .item p span {
	display: block;
	font-size: 8px;
	text-transform: uppercase;
	color: #020031;
	font-weight: 800;
	font-size: 10px;
	
}
.nav-switch {
    float: right;
    margin-top: -30px;
    background-color: #020031;
	padding: 8px;
	border-radius: 5px;   
}
.nav-switch a i{
    font-size: 20px;
    color: white;
}
.nav-switch a{
    text-decoration: none;
}
.nav-section {
    background: #020031;
}
.nav-section .nav-right {
	float: right;
    padding-top: 23px;
    color:white;
    margin-top:-8px;
}
.nav-section .nav-right a {
	color: #fff;
	margin-left: 30px;
	font-size: 16px;
}
.main-nav {
    list-style: none;
}
.main-nav li {
    display: inline;
}
.main-nav li a {
    display: inline-block;
    text-decoration:none;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 500;
	padding: 25px 18px;
	margin-right: -5px;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.nav-right a{
	border:1px solid #fff;
}
.nav-right a:hover{
	background-color: #fff;
	color: #020031 !important;
	font-weight: 600;
	border: 1px solid #020031 !important;
} 
.main-nav li a:hover {
	background: gray;
}
.main-nav li.active a {
	background: gray;
}
    /* side-nav */
    .side-nav{
        height:100%;
        width:0;
        position:fixed;
        z-index:2;
        top:0;
        left:0;
        background-color:#111;
        opacity:0.9;
        overflow-x: hidden;
        padding-top:60px;
        transition:0.5s;
    }
    .side-nav a{
       padding:10px 10px 10px 30px;
       text-decoration: none;
       font-size:18px;
       color:#ccc;
       display:block;
       transition:0.3s;
    }
    .side-nav a:hover{
       color:#fff;
       background-color:#0D47A1;
       text-decoration:none;
    }
    .side-nav .btn-close{
        position:absolute;
        top:4;
        right:22px;
        padding-top: 2px;
        padding-left: 10px;
        font-size:36px;
        margin-left:50px;
	}